@import url("https://fonts.googleapis.com/css?family=Source+Sans+3");
.font {
  font-family: "Source Sans 3", sans-serif;
}

.font_bolder {
  font-family: "Source Sans 3", sans-serif;
  font-weight: bolder;
}

/* .nft-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nft-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgb(45, 45, 45);
  padding: 1em;
  margin: 0.5em;
  width: calc(25% - 16px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
} */

.nft-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
}

.nft-card {
  width: 250px; /* Set a fixed width for each card */
  margin: 10px; /* Add margin around each card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  border-radius: 8px;
}

.nft-card:hover {
  transform: translateY(-4px);
}

.nft-image {
  max-width: 100%; /* Limit image width to fit inside the card */
  height: auto; /* Ensure aspect ratio is maintained */
  border-radius: 8px;
  margin: 0 auto; /* Center the image horizontally */
  display: block; /* Ensure the image is block-level */
}

.nft-name {
  font-size: 20px;
  color: ghostwhite;
  text-align: center; /* Center the text horizontally */
  margin-bottom: 0.2em;
}

p.nft-name {
  font-size: 16px;
  color: ghostwhite;
  text-align: center; /* Center the text horizontally */
}

.loading {
  margin-top: 20px;
  font-size: 16px;
  color: #ff0000;
}

.search-bar {
  margin-bottom: 20px;
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}
